---
import CtaButton from '../ui/actions/CtaButton.astro';
---

<section id="about" class="-mt-16 sm:mx-5 sm:border-x sm:border-lines">
  <div class="mx-6 sm:px-8 sm:mx-0 md:px-14 lg:px-32">
    <h2 class="section-label">Qu'est-ce que<br/> la Horde ?</h2>
    <p class="indent-24 sm:indent-45 text-[1.5rem] sm:text-[2rem]">Horde est une agence web bruxelloise qui conçoit des sites web ultra-rapides et qui transforme vos visiteurs en client. ↓ Audit offert, refonte ou création from scratch → on livre des sites légers, bien référencés et pensés pour durer.</p>
    <CtaButton href="/fr/contact" label="Prendre contact" class="mt-10 sm:mt-12 md:mt-16" variant='light'/>
  </div>
</section>
