---
import Button from '../ui/Button.astro';
---

<section id="about" class="-mt-16">
  <div class="mx-6">
    <h2 class="section-label">Qu'est-ce que la Horde ?</h2>
    <p class="mt-4 indent-24 text-[1.25rem]">Horde est une agence web bruxelloise qui conçoit des sites web ultra-rapides et qui transforme vos visiteurs en client. ↓ Audit offert, refonte ou création from scratch → on livre des sites légers, bien référencés et pensés pour durer.</p>
    <Button href="/fr/contact" label="Prendre contact" class="mt-10" variant='light'/>
  </div>
</section>
