---
import Line from "../ui/Line.astro";

---

<section id="hero">
  <div class="relative">
    <div class="relative px-6 max-w-[400px] mx-auto flex flex-col justify-center items-center">
      <span class="relative translate-y-1/2 w-full aspect-square rounded-full border border-lines"></span>
      <div class="@container w-full">
        <h1 class="p-4 w-full h-[calc(100cqi+1rem)] border border-lines flex flex-col justify-between font-display uppercase text-[2.25rem] leading-none">
          <span class="block mt-2">Agence de <br>site web</span>
          <span class="block self-end text-right">Basee a <br>Bruxelles</span>
        </h1>
      </div>
      <span class="relative -translate-y-1/2 w-full aspect-square rounded-full border border-lines"></span>
    </div>
    <div class="absolute w-screen h-px bg-lines center-x top-1/2 -mt-px"></div>
  </div>
</section>
