---
import HeroWeather from "./HeroWeather.astro";
---

<section id="hero" class="pt-62 pb-68 sm:mx-5 sm:border-x sm:border-lines">
    <div class="relative px-6 max-w-[388px] md:max-w-[500px] mx-auto flex flex-col justify-center items-center">
      <div class="relative @container w-full">
        <span class="absolute -translate-y-1/2 -z-10 w-full aspect-square rounded-full border border-lines"></span>
        <div class="relative p-4 w-full h-85 border border-lines flex flex-col justify-between">
          <span class="block mt-2 font-display uppercase text-[2rem] sm:text-[2.5rem] md:text-[3rem] leading-none">Nous <br>Concevons</span>
          <h1 class="text-[0.875rem] leading-tight uppercase font-mono text-right absolute bottom-1/2 right-4 mb-2">Agence de site web <br/>basée à bruxelles</h1>
          <HeroWeather class="absolute top-1/2 left-4 mt-2" />
          <span class="block self-end text-right font-display uppercase text-[2rem] sm:text-[2.5rem] md:text-[3rem] leading-none">Des sites web <br>Optimises</span>
        </div>
        <span class="absolute -translate-y-1/2 -z-10 w-full aspect-square rounded-full border border-lines"></span>
      </div>
    </div>
</section>
