---
---

<section id="hero" class="pt-88 mb-88">
    <div class="relative px-6 max-w-[400px] mx-auto flex flex-col justify-center items-center">
      <div class="relative @container w-full">
        <span class="absolute -top-1/2 -z-10 w-full aspect-square rounded-full border border-lines"></span>
        <h1 class="p-4 w-full h-[calc(100cqi+1rem)] border border-lines flex flex-col justify-between font-display uppercase text-[2.25rem] sm:text-[2.5rem] leading-none">
          <span class="block mt-2">Agence de <br>site web</span>
          <span class="block self-end text-right">Basee a <br>Bruxelles</span>
        </h1>
        <span class="absolute -translate-y-1/2 -z-10 w-full aspect-square rounded-full border border-lines"></span>
        <div class="absolute w-screen h-px bg-lines center-x top-1/2 -mt-1"></div>
      </div>
    </div>
    <div class="flex justify-center sm:justify-end">
      <svg class="mt-12 sm:mt-0" width="32" height="36" viewBox="0 0 32 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M32 24.1595L29.5969 21.6019L20.4751 29.8903L20.4751 11C20.4751 4.92488 15.5502 -2.67633e-07 9.47509 0L0 4.17422e-07L1.41939e-07 3.27273L13.0421 3.27273C15.2513 3.27273 17.0421 5.06359 17.0421 7.27273L17.0421 29.8903L7.92031 21.6019L5.51724 24.1595L18.7586 36L32 24.1595Z" fill="black"/>
      </svg>
    </div>
</section>
