---
import { DEFAULT_LOCALE } from '../../i18n';
import { getServiceSummaries } from '../../lib/content/services';
import BracketInline from '../ui/decor/BracketInline.astro';
import ServiceSectionHeading from '../services/ServiceSectionHeading.astro';

const lang = DEFAULT_LOCALE;

const services = await getServiceSummaries();
---

<section id="services" class="text-white py-25 sm:py-50">
  <ServiceSectionHeading
    id="service-title"
    left="Nos \n services"
    right="de creation \n de site web"
    dark
    class='md:pb-0!'
  />
  <ol class="mt-32 sm:mt-8">
    {services.map((service, index) => (
      <li class="border-b border-lines-dark last:border-b-0">
        <a
          href={`/${lang}/services/${service.slug}`}
          title={service.title}
          class:list={["service-link flex justify-between items-center pt-8 pb-7 sm:pt-16 sm:pb-15 xl:py-8", index % 2 !== 0 && "flex-row-reverse text-right"]}
        >
          <span class="max-w-[280px] sm:max-w-[unset] font-display uppercase leading-none text-[2rem] sm:text-[2rem] md:text-[2.5rem] ">
            {service.title}
          </span>
          <BracketInline class="shrink-0 text-[1rem] font-mono" variant='dark'>↗</BracketInline>
        </a>
      </li>
    ))}
  </ol>
</section>

<style>
  .service-link {
    position: relative;
    isolation: isolate;
    transition: color 0.3s ease-out;
  }

  .service-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-light);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left center;
  }

  @media (hover: hover) {
    .service-link::before {
      transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .service-link:hover {
      color: var(--color-black);
    }

    .service-link:hover::before {
      transform: scaleX(1);
    }

    .service-link:hover :global(.wrapped) {
      color: var(--color-black) !important;
    }
  }
</style>
