---
interface Props {
  class?: string;
  as?: "div" | "section" | "article" | "main";
  variant?: "light" | "dark";
}

const {
  class: className = "",
  as: Tag = "div",
  variant = "light",
} = Astro.props as Props;
const isDark = variant === "dark";
const showLines = !isDark;
---

<Tag
  class:list={[
    "-mt-10 mx-auto px-(--gutter) lg:max-w-[1320px] lg:px-0",
    className,
  ]}
>
  <div
    class:list={[
      "w-full relative z-9998",
      { "border-l border-r border-lines": showLines },
    ]}
  >
    <slot />
  </div>
</Tag>
