@import "tailwindcss";

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('../assets/fonts/PPNeueMontreal-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('../assets/fonts/PPNeueMachina-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Fraktion Mono';
  src: url('../assets/fonts/PPFraktionMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root{
  --gutter: 1rem;
}

@theme {
  --color-bg: #D0CDCB;
  --color-bg-light: #F4F3F3;
  --color-black: #3A3737;
  --color-lines: #B1B1B1;

  --spacing-lines: calc(100% + 2 * var(--gutter));

  --font-sans: 'PP Neue Montreal', system-ui, sans-serif;
  --font-mono: 'PP Fraktion Mono', monospace;
  --font-display: 'PP Neue Machina', system-ui, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
