---
import Wrapped from "../ui/Wrapped.astro"
---

<div class="flex flex-col">
	<div class="flex justify-between font-display leading-none px-4 sm:px-5 lg:px-9 items-end sm:items-start lg:items-end text-[1.625rem] sm:text-[2.5rem] md:text-[4rem] uppercase lg:w-3/4">
		<h2 class="">Projets<br>selectioné</h2>
		<span class="block">(03)</span>
	</div>
	<a href="/projects" class="section-label text-[1rem] px-4 sm:px-5 lg:px-9 leading-none self-end mt-10 sm:mt-0 lg:-mt-[1lh]"><Wrapped>Autres projets →</Wrapped></a>
	<ol class="mt-10 sm:mt-16 text-[2rem] lg:text-[2.5rem]">
		<li>
			<a href="https://belga.nicolas-premont.be" class="flex justify-between py-5 px-4 lg:py-8 lg:px-9 outline outline-lines">
				<p>Café Belga</p>
				<Wrapped class="text-[1rem]">→</Wrapped>
			</a>
		</li>
		<li class="flex justify-between py-5 px-4 lg:py-8 lg:px-9 border-b border-t border-lines">
			<p>Merly <span class="section-label">( on y travaille )</span></p>
		</li>
		<li class="flex justify-between py-5 px-4 lg:py-8 lg:px-9 border-b border-lines">
			<p>E-Putch <span class="section-label">( on y travaille )</span></p>
		</li>
	</ol>
</div>
