---
import { DEFAULT_LOCALE } from '../i18n';

const targetPath = `/${DEFAULT_LOCALE}/`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content={`0;url=${targetPath}`} />
    <link rel="canonical" href={targetPath} />
    <script is:inline>
      location.replace('/fr/');
    </script>
  </head>
  <body>
    <a href={targetPath}>Redirecting...</a>
  </body>
</html>
