---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/homepage/Hero.astro';
import About from '../components/homepage/About.astro';
import Projects from '../components/homepage/Projects.astro';
import Demarche from '../components/homepage/Demarche.astro';
import Services from '../components/homepage/Services.astro';
import Us from '../components/homepage/Us.astro';
import PixelTransitionCanvas from '../components/ui/effects/PixelTransitionCanvas.astro';
import Footer from '../components/Footer.astro';
import { DEFAULT_LOCALE } from '../i18n';
---

<Layout title="Horde" description="Agence web spécialisée en performance et UX.">
  <PixelTransitionCanvas color="rgb(22, 25, 27)" triggerDistance={500} topOffset={600} targetId="services" stopTargetId="demarche" stopWhenTargetCoversViewport class="z-10" />
  <Hero />
  <About />
  <Projects />
  <div class="relative pt-25 z-20">
    <Services />
  </div>
  <div class="relative z-20 full-width-white-bg">
    <Demarche />
  </div>
  <Us />
  <Footer slot="footer" lang={DEFAULT_LOCALE} variant="light" innerBg />
</Layout>
