---
import Layout from "../layouts/Layout.astro";
import BackgroundCanvas from "../components/ui/BackgroundCanvas.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import MethodSection from "../components/sections/MethodSection.astro";
import ProjectSection from "../components/sections/ProjectSection.astro";
import ServiceSection from "../components/sections/ServiceSection.astro";
import Footer from "../components/Footer.astro";
import { createReader } from "@keystatic/core/reader";
import keystaticConfig from "../../keystatic.config";
import AboutSection from "../components/sections/AboutSection.astro";

const reader = createReader(process.cwd(), keystaticConfig);
const siteSettings = await reader.singletons.siteSettings.read();

const title = siteSettings?.homepageTitle || "Horde";
const description =
  siteSettings?.defaultDescription ||
  "Agence web spécialisée en performance et UX.";
---

<Layout
  title={title}
  description={description}
  siteNameAsPrefix={true}
>
  <BackgroundCanvas triggerDistance={500} topOffset={900} bottomOffset={1400} stopTargetId="method-transition">
  </BackgroundCanvas>

  <HeroSection
    titleLine1="Nous\nconcevons"
    titleLine2="des"
    ctaLabel="Notre methode"
  />

  <div id="page-content">
    <section class="pt-64">
      <MethodSection />
    </section>
  </div>
  <div id="white-section" class="full-width-bg">
    <section id="services-section" class="pt-24 sm:pt-32 lg:pt-96">
      <ServiceSection />
    </section>
  </div>
  <div id="projects-section" class="full-width-bg bg-bg-light">
    <section class="py-24 sm:py-32 lg:py-48">
      <ProjectSection />
    </section>
  </div>
  <section class="pt-24 sm:pt-32 lg:pt-48">
    <AboutSection />
  </section>
  <Footer />
</Layout>
