---
import { Image } from "astro:assets"
import Wrapped from "./Wrapped.astro"
import s1 from '/public/images/placeholder-8.webp'
---
<div>
	<h2 class="font-mono text-sm uppercase sm:sticky sm:top-16">J'ai besoin de</h2>
	<article class="mt-10 sm:sticky sm:top-24 bg-bg-light min-h-[700px]">
		<span class="block w-full h-px bg-bg"></span>
		<div class="py-5 leading-none flex flex-col gap-5 h-full before:content-['S_/_001'] before:font-mono before:text-sm">
			<h3 class="text-xl text-[26px]">Audit UX & Performance</h3>
			<p class="text-xl leading-[1.2]">Vous voulez optimiser la conversion de votre site ? Nous réalisons un diagnostic complet (Vitesse de chargement, UX, SEO) pour identifier les points de friction qui bloquent vos utilisateurs. Une analyse factuelle pour des actions immédiates.</p>
			<a href="" class="text-xl leading-[1.2] w-fit flex gap-4"><span class="border-b">Reserver un appel</span> <Wrapped class="font-mono leading-none">→</Wrapped></a>
			<div class="relative aspect-video overflow-hidden rounded-lg">
				<div class="absolute inset-0 bg-linear-to-r from-neutral-200 via-neutral-100 to-neutral-200 animate-pulse"></div>
				<Image src={s1} alt="" class="relative w-full h-full object-cover"/>
			</div>
		</div>
	</article>
	<article class="mt-10 sm:sticky sm:top-28 bg-bg-light min-h-[700x]">
		<span class="block w-full h-px bg-bg"></span>
		<div class="py-5 leading-none flex flex-col gap-5 h-full before:content-['S_/_002'] before:font-mono before:text-sm">
			<h3 class="text-xl text-[26px]">Optimisation & Refonte</h3>
			<p class="text-xl leading-[1.2]">Pas besoin de tout jeter. Nous intervenons sur votre site existant pour booster ses performances (Core Web Vitals), moderniser son interface et le rendre ultra-rapide sur mobile.</p>
			<a href="" class="text-xl leading-[1.2] w-fit flex gap-4"><span class="border-b">Reserver un appel</span> <Wrapped class="font-mono leading-none">→</Wrapped></a>
			<div class="relative aspect-video overflow-hidden rounded-lg">
				<div class="absolute inset-0 bg-linear-to-r from-neutral-200 via-neutral-100 to-neutral-200 animate-pulse"></div>
				<Image src={s1} alt="" class="relative w-full h-full object-cover"/>
			</div>
		</div>
	</article>
	<article class="mt-10 sm:sticky sm:top-32 bg-bg-light min-h-[700px]">
		<span class="block w-full h-px bg-bg"></span>
		<div class="py-5 leading-none flex flex-col gap-5 h-full before:content-['S_/_003'] before:font-mono before:text-sm">
			<h3 class="text-xl text-[26px]">Création "From Scratch" & MVP</h3>
			<p class="text-xl leading-[1.2]">Lancement de produit ou nouvelle identité ? Nous concevons des plateformes web sur-mesure. Une architecture solide et pensée pour le long terme.</p>
			<a href="" class="text-xl leading-[1.2] w-fit flex gap-4"><span class="border-b">Reserver un appel</span> <Wrapped class="font-mono leading-none">→</Wrapped></a>
			<div class="relative aspect-video overflow-hidden rounded-lg">
				<div class="absolute inset-0 bg-linear-to-r from-neutral-200 via-neutral-100 to-neutral-200 animate-pulse"></div>
				<Image src={s1} alt="" class="relative w-full h-full object-cover"/>
			</div>
		</div>
	</article>
</div>
